@charset "utf-8";
/* Medios fluidos sencillos
   Nota: Los medios fluidos exigen la eliminación de los atributos de altura y anchura de los medios del código HTML
   http://www.alistapart.com/articles/fluid-images/
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 no admite max-width (anchura máxima), por lo que usa de manera predeterminada una anchura del 100% */
.ie6 img {
	width:100%;
}

/*
	Propiedades de cuadrícula fluida de Dreamweaver
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		6;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;

	Inspiración obtenida de "Responsive Web Design" de Ethan Marcotte
	http://www.alistapart.com/articles/responsive-web-design

	y Golden Grid System de Joni Korpi
	http://goldengridsystem.com/
*/

/* Diseño móvil: 480 px e inferior. */

html {
    height: 100%!important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin:0; /*gets rid of white space around body*/
    position:relative; /*REQUIRED Sets up positioning for your footer*/
 }

  main {
    flex: 1 0 auto;
 }
/*
 body {
	height: 100%!important;
	background: url(images/login-background.jpg) !important;
	background-position: 50% 0% !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;

}

*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.opacity {
  background-color: rgba(0,20,50,0.5)!important;
}

.naranja {
	background-color: #FF6010 !important;
}

.sticky {
	width:100%;
	height:60px;
	padding-top:20px;
	font-size:10px;
	text-align:center;
	position:fixed;    /*Here's what sticks it*/
	bottom:0;          /*to the bottom of the window*/
	left:0;            /*and to the left of the window.*/
}

.btn:hover,.btn:active{
	color:white !important;
}

@font-face {

font-family: Raleway;

src: url(fonts/Raleway-Regular.ttf) format(‘truetype’);

}

h5 {
	font-size: 22px !important;
	color:#FFF !important;
	line-height: 10px !important;
}

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	/*padding-left: 2.25%;
	padding-right: 2.25%;*/
}
a:focus {
    outline: none !important;
    outline-offset: 0px !important;
}

.tabla-seccion {
	width: 100%;
    text-align: center;
    line-height: 23px;
    border: 1px solid #cbcbcb;
}
.nombre-seccion{
margin-top: 10px;
}
.tabla-seccion tr td{
    border: 1px solid #cbcbcb;
}
.titulo-tabla {
	background-color:#c1c1c1;
}


.tabla-inspecciones {
	width: 100%;
    text-align: center;
    line-height: 23px;
    border: 1px solid #cbcbcb;
}
.tabla-inspecciones tr td{
    border: 1px solid #cbcbcb;
}


#LayoutDivseccion{
	clear: both;
	float: left;
	display: block;
	text-align: center;
	position: absolute;
	top:5%;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
	overflow: auto;
	padding-top: 50px;
}

#LayoutDivInspeccionar{
	clear: both;
	float: left;
	display: block;
	text-align: center;
	position: absolute;
	top:1%;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
	overflow: auto;
	padding-top: 30px;
}
/* #nombre-seccion{
	clear: both;
	float: left;
	display: block;
	text-align: center;
	position: absolute;
	top:3%;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
	overflow: auto;
	padding-top: 50px;
} */
#LayoutDiv0 {
	clear: both;
	float: left;
	display: block;
	text-align: center;
	position: absolute;
	top:35%;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	display: block;
	text-align: center;
	position: absolute;
	top:35%;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
}
#LayoutDiv2 {
	clear: both;
	float: left;
	display: block;
	text-align: center;
	position: absolute;
	top:55%;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
}

#LayoutDiv7 {
	clear: both;
	float: left;
	display: block;
	text-align: center;
	position: absolute;
	top:22.8%;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
}

#LayoutDiv2 li {
	list-style:none;
	padding-bottom: 40px;
}
#LayoutDiv2 a:hover {
	color: #fff;
    text-decoration: none;
}
#LayoutDiv3 {
	clear: both;
	float: left;
	display: block;
	text-align: center;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
	width: 100%;
    background-color: #fff;
    height: 90px;
    position: relative;
    top: 0px;
	border-bottom: solid 3px #ee8e28;
}
#LayoutDiv4 {
	clear: both;
	float: left;
	display: block;
	text-align: center;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
	width: 100%;
    background-color: #000;
    height: 40px;
    position: relative;
    top: 0px;
    z-index: 10;
}
#LayoutDiv5 {
	clear: both;
	float: left;
	display: block;
	text-align: center;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
	width: 100%;
    background-color:#eee;
    height: 48px;
    position: relative;
    top: 0px;
	padding-top: 7px;
}

.icon-back {
	margin-top:4px
}
.loading-bg {
	background-image:url(img/bg.jpg);
	background-repeat:repeat;
	background-size:cover;
}
.home-bg {
	background-image:url(img/bg-home.jpg);
	background-repeat:repeat;
	background-size:cover;
	background-position: 0 -15%;
}

.menu-inferior  {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: left;
}
.menu-inferior-btn  {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	background-color:#FFF;
	border-top: 3px solid #ee8e28;
	padding: 5px;
}
.menu-central {
    font-size: 17px;
    font-weight: 300;
    background-color: #ee8e28;
	padding-bottom: 16px;
	padding-top: 15px;
    border-radius: 25px 25px;
	/*width: 220px;*/
    margin: auto;
	margin-bottom: 7px;
}
.menu-central:hover {
    font-size: 17px;
    font-weight: 300;
    background-color: #b77530;
	padding-bottom: 16px;
	padding-top: 15px;
    border-radius: 25px 25px;
	/*width: 220px;*/
    margin: auto;
	margin-bottom: 7px;
}
.menu-central:focus {
    font-size: 17px;
    font-weight: 300;
    background-color: #b77530;
	padding-bottom: 16px;
	padding-top: 15px;
    border-radius: 25px 25px;
	/*width: 220px;*/
    margin: auto;
	margin-bottom: 7px;
}
.menu-central:visited {
    font-size: 17px;
    font-weight: 300;
    background-color: #ee8e28;
	padding-bottom: 16px;
	padding-top: 15px;
    border-radius: 25px 25px;
	/*width: 220px;*/
    margin: auto;
	margin-bottom: 7px;
}
.boton {
	color:#FFF;
	text-decoration:none;
}
.boton:focus {
	color:#FFF;
	text-decoration:none;
}

.display-none {
	display: none;
}
.ike-ok {
    background-size: 50%;
    padding-left: 16px;
    padding-right: 47px;
}
.menu-inferior img {
	width:60px;
	height:60px;
}
.empty50 {
	padding: 50px;
}
.empty45 {
	padding: 45px;
}




/* MODAL LOADING */

.modal-loading {
	padding-right:0px
}
.validacion {
	font-size:14px;
}
.txt-login {
    font-size: 14px;
    padding-bottom: 4px;
    padding-top: 10px;
    font-weight: 600;
}
.boton-login {
	height: 30px;
    position: relative;
	border-radius: 25px 25px;
    border: none;
    background-color: #0B59FF;
    width: 85%;
	color: #fff;
	margin-bottom: 10px;
}
.campo-login {
    width: 80%;
    border-radius: 25px 25px;
    border: 1px solid #d5d5d5;
    height: 30px;
    padding: 11px;
    margin-bottom: 10px;
	margin-right: 5px;
    margin-left: 5px;
	position: relative;
}
:focus {
    outline: none !important;
}


/* MODAL HOME */

.iconos-modal {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 11px;
    text-align: center;
    padding-right: 6px !important;
    padding-left: 6px !important;
}
.indicador-modal {
	z-index:2000;
	position: absolute;
    bottom: -59px;
    left: 41%;
}
.link-modal {
	text-decoration:none;
	color:#000;
}
.link-modal:hover {
	text-decoration:none;
	color:#000;
}
.link-modal:focus {
	text-decoration:none;
	color:#000;
}
.link-modal:visited {
	text-decoration:none;
	color:#000;
}
.legal {
	font-size: 10px;
    line-height: 12px;
    text-align: left;
    font-weight: 600;
}
.modal-body-legal {
    position: relative;
    padding: 20px 0px 20px 0px;
}
.modal-footer {
    padding: 15px;
    text-align: center !important;
    border-top: 1px solid #e5e5e5;
}


/* FOR DD IMPUESTO */

.col-xs-6 {
	padding-left:0px !important;
	padding-right:0px !important;
}
.col-xs-6 img{
	max-height:60px;
}
.rhead{
	text-align:right;
}
.lhead{
	text-align:left;
}

.head{
    top: 13px;
    position: relative;
}



#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
